/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Make scrollbar thinner */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f3f4f6; /* Light gray background */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #f0b27a; /* Orange scrollbar */
    border-radius: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #eb984e
    ; /* Darker orange on hover */
  }
  